<footer class="footer">
  <div class="container2">
    <div class="left">
      &copy; {{ currentYear }}
      <br>
      <a href="https://inci.gov.co/sites/default/files/2022-09/Pol%C3%ADtica%20de%20Derechos%20de%20Autor%20y%20Uso%20de%20Contenidos%20P%C3%A1gina%20Web.pdf " target="_blank">
      <p class="mb-0 text-light lead">& copy Registraduria. Todos los derechos reservados</p>
      </a>
    </div>
    <div class="center">
      
      Jorge Paredes
    </div>
    <div class="right">
      <h2>Redes sociales</h2>
      <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/jorge.paredesramon/" target="_blank"><i class="fab fa-fw fa-facebook-f"></i><img src="./assets/img/facebook.png" width="30" height="30"></a>
      <a class="btn btn-outline-light btn-social mx-1" href="https://wa.me/573127228022"  target="_blank"><i class="fab fa-fw fa-linkedin-in"></i><img src="./assets/img/whatsapp.png" width="30" height="30"></a>
    </div>
  </div>
</footer>
